<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <style>
    body, html {
        height: 100%;
        margin: 0;
      }
    .bg {
        /* The image used */
        background-image: #3333ff;

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
    </style>
  </head>
    <div class="bg">
      <body>
        <div class="container">
            <h2>Extracted Entities</h2>
              <table class="table">
                <thead>
                  <tr>
            <th>LABELS</th>
            <th>TEXT</th>
          </tr>
                </thead>
                <tbody>
                 {% for key, value in result.items() %}
                    <tr class="success">
                       <td> {{ key }} </td>
                       <td> {{ value }} </td>
                    </tr>
                 {% endfor %}
               </tbody>
              </table>
              <!-- **************************************** -->
              <h3> Thank you .. ! </h3>
              <br>
              <br>
        </div>
      </body>
      </body>
    </div>
</html>
