select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#body_1{
  background-color: yellow;
}

.button1 {
  background-color: #4CAF50;
} /* Green */
