<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}"> -->
    <link rel="stylesheet" href="static/css/master.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Text Classification</title>
    <style>
    body, html {
        height: 100%;
        margin: 0;
      }
    .bg {
        /* The image used */
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSopFRZixdMHW9hXJb4n3IyGLUhU5PU95IYQoq7Mmv8JdGcmfTb");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
    </style>
  </head>
  <body>
    <div class="bg">
      <div class="container">
        <h1><strong>Vignesh's Predictive Text Classification</strong></h1>
        <div class="jumbotron">
        <h3></h3>
        <br>
        <br>
        <ul class="nav nav-pills nav-stacked">
          <!-- <h1><strong> On Progress Coming Soon ... </strong> </h1> -->
          <li class="active"><a href="/home/vignesh-smvp/Documents/tutorial testing/cloud_servers/azure/nlp_apps/templates/index.html"><h3><strong>Home</strong></h3></a></li>
          <li><a href="#"><h3><strong>Sentiment Classification</strong></h3></a></li>
          <li><a href="#"><h3><strong>Message Spam Detection</strong></h3></a></li>
          <li><a href="#"><h3><strong>Resume Categorization</strong></h3></a></li>
          <li><a href="#"><h3><strong>Movie Review Classification</strong></h3></a></li>
          <li><a href="#"><h3><strong>Food Review Classification</strong></h3></a></li>
          <li><a href="#"><h3><strong>Product Review Classification</strong></h3></a></li>
        </ul>
      <br>
      </div>
    </div>
    </div>
  </body>
</html>
